[submodule "Plugins/com.AccelByte.SDK"]
	path = Plugins/com.AccelByte.SDK
	url = https://github.com/AccelByte/accelbyte-unity-sdk.git
[submodule "Plugins/com.AccelByte.Networking"]
	path = Plugins/com.AccelByte.Networking
	url = https://github.com/AccelByte/accelbyte-unity-networking.git
